@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* font-family: 'Anton', sans-serif;
font-family: 'Oswald', sans-serif; */
.top-div{
    font-family: 'Oswald', sans-serif;
    font-weight: 700; 
}